tbody{
    .table__row{
    width: 1110px;
    height: 64px;

    td{
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    .row-data__row-image{
        width: 32px;
        height: 32px;
    }

    .row-data__edit-icon{
        width: 24px;
        height: 24px;
        margin-right: 16px;
    }
    .row-data__trash-icon{
        width: 24px;
        height: 24px;
    }
    }
    .row-data1{
        text-align: center;
    }

    .row-data2{
        display: flex;
        align-items:center;
        justify-content: start;
        gap: 8px;
        margin-top: 16px;
        p{
        color: #000;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        }
    }
    .row-data__status{
        display: flex;
        padding: 8px 12px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 83px;
        border-radius: 22px;
        background: #EBF9F1;
        transition: all 0.5s;
        &:hover{
            background:#c6f5da;
            box-shadow: 0 0 16px rgb(161, 186, 161);
        }

        text-decoration: none;
        color: #1F9254;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    }

    .table__row:nth-child(odd){
        background-color: #F7F6FE;
    }
}