.table{
    thead .table___head-row{
        width: 1110px;
        height: 49px;

    th{
        text-align: start;
        margin-right: 16px;
        color: #000;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

    }
    .head-row1{
        width: 120px;
        text-align: center;
        margin-top: 18px;
    }
    .head-row6{
        margin-top: 18px;
    }
}
}
th{
    .head-row__sort-icon{
        margin-left: 55px;
    }
}